.navbar-layout {
    background-color: var(--color-background-light);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.navbar-title {
    color: var(--color-primary);
    text-wrap: wrap;
}

.navbar-button{
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    color: inherit;
    text-decoration: none;
}

.navbar-button-active {
    background-color: var(--color-primary);
    border: 1px solid #000;
}

.small-icon {
    width: 18px;
    height: 18px;
}

.navbar-button.dropdown-toggle {
    color: #000;
}

.searchbar {
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown-link {
    color: inherit;
    text-decoration: none;
}

